<nav class="bg-indigo-700 shadow-lg">
  <div class="container mx-auto">
    <div class="sm:flex justify-around">
      <%= link_to "Image Uploader App", root_path, class: "text-white text-3xl font-bold p-3" %>
      <ul class="text-gray-400 sm:self-center text-xl.border-t sm:border-none">
        <%= render 'layouts/header_links'%>
      </ul>
    </div>
  </div>
</nav>